*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
body {
    background-color: #124F79;
    color: white;
}
.shadow {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
#wrapper {
    width: 970px;
    margin: 0 auto;
    position: relative;
}
#topbar > div {
    display: inline-block;
    width: 475px;
    vertical-align: top;
}
#topbar a {
    color: rgb(224, 204, 18);
}
#topbar > div:last-child {
    text-align: right;
}
#topbar img {
    width: 350px;
    height: auto;
}
#topbar > div:last-child > div {
    float: right;
}
#search {
    padding: 15px 30px;
    background-color: #444444;
    border-radius: 10px;
    width: fit-content;
}
#search * {
    height: 30px;
    font-size: 12px;
}
#search input[type="text"] {
    text-align: center;
}
#search button {
    background-color: #164F79;
    color: white;
    padding: 8px;
    border: 1px gray outset;
    border-radius: 5px;
}
#navbar {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#navbar > ul {
    background: #367EB0;
    background: linear-gradient(180deg, #2175B1 0%,  #367EB0 50%,  #2175B1 100%);
    border-radius: 5px;
}
#navbar > ul > li {
    display: inline-block;
    padding: 10px 15px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
}
#navbar > ul > li > a {
    color: white;
    text-decoration: none;
}
#content {
    margin: 20px 0px;
}
#navigation {
    width: 220px;
    padding: 20px 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
#navigation ul {
    list-style: none;
    color: rgb(224, 204, 18);
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}
#navigation ul > li {
    margin-bottom: 5px;
}
#navigation ul > li > a {
    color: white;
}
#zen {
    display: inline-block;
    width: 730px;
    text-align: center;
}
#zen ul {
    list-style: none;
    color: rgb(224, 204, 18);
    font-style: italic;
}
#zen ul > li {
    margin: 10px 0px;
    font-size: x-large;
}
#zen ul + div {
    font-size: x-large;
}
#sections {
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding: 10px 0px;
    text-align: center;
}
.section {
    display: inline-block;
    width: 420px;
    vertical-align: top;
    border-top: 5px solid rgb(130, 187, 214);
    color: black;
}
.section > div:first-child {
    font-size: larger;
    font-weight: bold;
    margin: 5px 0;
}
.section ul {
    width: 60%;
    margin: 10px auto;
    list-style-type: square;
}
.section a {
    color: rgb(130, 187, 214);
    text-decoration: none;
}
#footer {
    background: #124F79;
    background: linear-gradient(180deg, #124F79 30%, #367EB0 100%);
    padding-top: 40px;
    text-align: center;
    color: rgb(130, 187, 214);
    font-family: sans-serif;
}
#footer > div:first-child {
    margin-bottom: 10px;
    font-size: larger;
}
#footer a {
    color: rgb(130, 187, 214);
    text-decoration: none;
    margin: 10px;
    padding: 0 10px;
}